@charset "UTF-8";

#loginPage {
	display: block;
	width: 300px;
	
	label {
		font-weight: bold;
		cursor: pointer;
		display: block;
		font-size: 16px;
		width: 300px;
		color: #382418;
	}
	
	input {
		display: block;
		width: 300px;
		padding: 5px;
		margin-top: 2px;
		letter-spacing: 1px;
	}
	button {
		margin-top: 0.5em;
	}
	
	.spacer {
		height: 1em;
	}
}

#info {
	float: right;
	width: 50%;
	
	h2 {
		font-size: 16px !important;
	}
}