@charset "UTF-8";

#article {
	.header {
		border-bottom: 1px solid #7B4F17;
		position: relative;
		padding-bottom: 5px;
		margin-bottom: 5px;
		
		strong {
			position: absolute;
			right: 0;
			bottom: 6px;
		}
	}
	
	.body {
		text-align: justify;
	}
}